/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */






 /*****************************Deck Index*************************/
.image-gallery{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 15px;
}

.galler-img{
  width:100%;

}

 /*****************************Deck Index*************************/
 /*****************************Deck Index*************************/
/*****************************Deck Index*************************/




 h1  {
   color: ;
 }

 body {
   text-align:center;
   background-position:center;
   background-size:cover;
   font-style:
 }

.wrapper {
  width:;
  mardin: 0 auto;
  padding:40px;
  border:5px, solid:black;
}



.header {
  height:400ps;
}
